<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <style>
        body {
            background:#f4f4f4;
        }
    </style>
</head>

<body class="bg-light">

<div class="container mt-4">

    <div class="d-flex justify-content-between">
        <h2>👨‍🏫 Teacher Dashboard</h2>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

    <hr>

    <!-- ADD QUESTION -->
    <div class="card p-3 shadow mb-4">
        <h4>Add Question</h4>
        <form method="POST">
            <input class="form-control mb-2" type="text" name="question" placeholder="Enter question" required>
            <textarea class="form-control mb-2" name="answer" placeholder="Correct answer" required></textarea>
            <input class="form-control mb-2" type="number" name="marks" value="5">
            <button class="btn btn-success">Add Question</button>
        </form>
    </div>

    <!-- QUESTIONS LIST -->
    <div class="card p-3 shadow mb-4">
        <h4>All Questions</h4>
        {% for q in questions %}
            <p><b>{{ q[1] }}</b> (Marks: {{ q[3] }})</p>
        {% endfor %}
    </div>

    <!-- LEADERBOARD -->
    <div class="card p-3 shadow">
        <h4>Top Students</h4>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Avg Score</th>
            </tr>
            {% for row in leaderboard %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

</body>
</html>